[submodule "vendor/errors"]
	path = vendor/errors
	url = https://github.com/cloudfoundry/errors.git
[submodule ".nosh/ruby/package"]
	path = .nosh/ruby/package
	url = https://github.com/cloudfoundry/ruby-package
